<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
  <!-- Markup -->
  <div id="chart"></div>
  <script>
    var chart = bb.generate({
      bindto: "#chart",
      data: {
        x: "x",
        type: "bar",
        columns: [[
          'x',
          {{#each x}}
            '{{value}}'
            {{#unless @last}},{{/unless}}
          {{/each}}
        ],
         [   'count',
          {{#each pv}}
            {{value}}
            {{#unless @last}},{{/unless}}
          {{/each}}
        ]]
      },
      axis: {
        x: {
          type: "category",
          tick: {
            multiline: false,
            tooltip: true
          },
          height: 130
        }
      },
    });
  </script>
</div>