<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/billboard.min.css' />
    <link rel='stylesheet' href='/stylesheets/insight.min.css' />
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src='/javascripts/billboard.min.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
